<section>
  <header>
    <h2>Latest books</h2>
    <p>
      <%= @latest_books.empty? ? "Sorry, we don't have any books right now." : "See the latest books added to our catalog." %>
    </p>
  
  </header>
  <% @latest_books.each do |book| %>
    <aside class="latest">
      <h3><%= book.title %></h3>
      <p class="latest__details">
        <%= display_authors(book.authors) %>
      </p>
      <p class="latest__cta">
        <%= link_to("Read it now →", book_path(book.slug)) %>
      </p>
    </aside>
  <% end %>

</section>