<section class="book-page">
  <section class="book-page__top">
    <span class="book-page__title"><%= @book.title %></span>
  </section>
  <section class="book-page__content">
    <%= simple_format(@page.content) %>
  </section>
  <section class="book-page__bottom">
    <div class="book-page__previous">
      <%= previous_page(@book, @page.number, @total_pages) %>
    </div>
    <div class="book-page__number">
      <%= @page.number %>
    </div>
    <div class="book-page__next">
      <%= next_page(@book, @page.number, @total_pages) %>
    </div>
  </section>
</section>