<section>
  <header>
    <h2>All books listing</h2>
    <p>See all our catalog.</p>
  </header>
  <ul class="listing">
    <% @books.each do |book| %>
      <li>
        <h3><%= link_to book.title, book_path(book.slug) %></h3>
        <p class="latest__details">
          <%= display_authors(book.authors) %>
        </p>
      </li>
  <% end %>
  </ul>
</section>